# All code files in this project should follow this format.
# snake_case should also be used.
---
# LLVM style defaults, but with 4 columns indentation.
BasedOnStyle: LLVM
UseTab: Always
TabWidth: 4
IndentWidth: 4
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
